interactions:
- request:
    body: '{"query": "{\n  models(zipCd: \"90210\", brand: \"L\") {\n    modelCode\n    series\n  }\n}"}'
    headers:
      Content-Type:
      - application/json
      referrer:
      - https://www.lexus.com/
    method: POST
    uri: https://api.search-inventory.toyota.com/graphql
  response:
    body:
      string: '{"data":{"models":[{"modelCode":"ls","series":"LS"},{"modelCode":"rc","series":"RC"},{"modelCode":"rx","series":"RX"},{"modelCode":"lch","series":"LC
        HYBRID"},{"modelCode":"nxh","series":"NX HYBRID"},{"modelCode":"rcf","series":"RC
        F"},{"modelCode":"esh","series":"ES HYBRID"},{"modelCode":"rx500h","series":"RX
        500h"},{"modelCode":"lc","series":"LC"},{"modelCode":"NXphev","series":"NX
        PHEV"},{"modelCode":"is","series":"IS"},{"modelCode":"LCCV","series":"LC CONVERTIBLE"},{"modelCode":"rxh","series":"RX
        HYBRID"},{"modelCode":"lx","series":"LX"},{"modelCode":"uxh","series":"UX
        HYBRID"},{"modelCode":"is500","series":"IS 500"},{"modelCode":"rz","series":"RZ"},{"modelCode":"gx","series":"GX"},{"modelCode":"lsh","series":"LS
        HYBRID"},{"modelCode":"es","series":"ES"},{"modelCode":"nx","series":"NX"}]}}'
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      x-amz-apigw-id:
      - IEeJpGEmvHcFrBQ=
      x-amzn-Remapped-Connection:
      - keep-alive
      x-amzn-Remapped-Content-Length:
      - '804'
      x-amzn-Remapped-Date:
      - Fri, 14 Jul 2023 20:04:13 GMT
      x-amzn-Remapped-x-amzn-RequestId:
      - cac23ecb-f758-4893-ab91-f710f3ea254c
      x-amzn-RequestId:
      - 53759a8f-f375-4eba-af7c-8868f284d33e
      x-amzn-appsync-TokensConsumed:
      - '1'
    status:
      code: 200
      message: OK
version: 1
